* {
  max-width: 100vw;
  max-height: 100vh;
}

.background {
  background-image: url("/img/47937.jpg");
  height: 100vh;
  width: 100vw;
}

.teleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.television {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.telecommande {
  background-color: rgb(36, 46, 46);
  border: 5px solid black;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5%;
  padding: 15px;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5%;
  margin-top: 20px;
}

.telecommandeCenter {
  background-color: rgb(87, 100, 100);
  padding: 20px;
  padding-bottom: 60vh;
}

.screen {
  width: 60vw;
  height: 40vw;
  margin: 0;
  padding: 0;
  border: 50px ridge darkslategrey;
  border-radius: 2%;
  -webkit-box-shadow: 0px 0px 28px 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 28px 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 28px 8px rgba(0, 0, 0, 0.8);
}

.camTitle {
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 1px red, 2px 2px 1px red;
  margin: 20px;
}

.power {
  content: "  ";
  position: relative;
  margin-top: 1vh;
  margin-right: 4vw;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #db3a3a;
}

.PickACountry {
  display: flex;
  font-family: cursive;
  font-weight: bolder;
  text-align: center;
  color: rgb(143, 45, 20);
  font-size: 3rem;
  text-shadow: 2px 0 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0),
    0 2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0),
    -2px -2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0);
  margin-bottom: 20px;
}

.ui button {
  text-align: center;
}
