.navbar {
  position: relative;
  background-image: url("/img/bandeau.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
}

.navbar img {
  position: absolute;
  height: 100%;
  padding-left: 30px;
}

.navbar ul {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  font-size: larger;
  color: aliceblue;
  padding: 30px;
}

li a:hover {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 10px #ffffff;
}
